@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$primary-gradient: linear-gradient(
    45deg,
    rgba(33, 147, 176, 1) 0%,
    rgba(109, 213, 237, 1) 100%
);

$base-font: "Roboto", sans-serif;

%card-half {
    width: 50%;
}
